[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
argon2-cffi = "*"
django-summernote = "*"
whitenoise = {extras = ["brotli"], version = "*"}
psycopg2-binary = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
